<!DOCTYPE html>
<html ng-app="blocJams">
    <head lang="en">
        <meta charset="UTF-8">
        <title>Bloc Jams Angular</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:400,800,600,700,300">
        <link rel="stylesheet" type="text/css" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
        <link rel="stylesheet" type="text/css" href="/styles/normalize.css">
        <link rel="stylesheet" type="text/css" href="/styles/main.css">
        <link rel="stylesheet" type="text/css" href="/styles/landing.css">
        <link rel="stylesheet" type="text/css" href="/styles/collection.css">
        <link rel="stylesheet" type="text/css" href="/styles/album.css">
        <link rel="stylesheet" type="text/css" href="/styles/profile.css">
        <link rel="stylesheet" type="text/css" href="/styles/player_bar.css">
    </head>
    <body>
        <nav class ="navbar" ng-controller="IndexCtrl as index"> <!-- navigation bar -->
            <a ui-sref="landing" class="logo">
                <img src="assets/images/bloc_jams_logo.png" alt="bloc jams logo">
            </a>
            <div class="links-container">
                <div class="search-container" ng-controller="SearchCtrl as search" ng-if="index.user">
                    <form >
                        <input class="search-input" type="text" placeholder="Enter search here" ng-model="searchValue">
                        <button class="search-button" type="submit" ng-click="search.find(searchValue)">Search</button>
                    </form>
                </div>
                <a class="sign-in-out" ng-click="index.logIn()" ng-if="!index.user">Sign In</a>
                <a ui-sref="profile">
                    <img class="profile-pic" ng-if="index.user" width="40", height="40" src="{{index.user.photoURL}}" alt="null">
                </a>
                <a class="sign-in-out" ng-click="index.logOut()" ng-if="index.user">Sign Out</a>
                <a ui-sref="collection" class="navbar-link" ng-if="index.user">collection</a>
            </div>
        </nav>

        <ui-view></ui-view>

        <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
        <script src="https://cdn.firebase.com/libs/angularfire/2.0.1/angularfire.min.js"></script>
        <script src="https://www.gstatic.com/firebasejs/3.8.0/firebase.js"></script>
        <script src="https://www.gstatic.com/firebasejs/3.8.0/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/3.8.0/firebase-auth.js"></script>
        <script src="https://www.gstatic.com/firebasejs/3.9.0/firebase-database.js"></script>
        <script>
          // Initialize Firebase
          var config = {
            apiKey: "AIzaSyBexn4anSWp5Ppta7Ct4MEZD7vlUTa92zI",
            authDomain: "bloc-jams-angular-fdfca.firebaseapp.com",
            databaseURL: "https://bloc-jams-angular-fdfca.firebaseio.com",
            projectId: "bloc-jams-angular-fdfca",
            storageBucket: "bloc-jams-angular-fdfca.appspot.com",
            messagingSenderId: "1072288663270"
          };
          firebase.initializeApp(config);
          var database = firebase.database();
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.4.2/angular-ui-router.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/buzz/1.1.10/buzz.min.js"></script>
        <script src="/scripts/app.js"></script>
        <script src="/scripts/services/Authentication.js"></script>
        <script src="/scripts/services/Fixtures.js"></script>
        <script src="/scripts/services/SongPlayer.js"></script>
        <script src="/scripts/services/Album.js"></script>
        <script src="/scripts/services/Search.js"></script>
        <script src="/scripts/controllers/IndexCtrl.js"></script>
        <script src="/scripts/controllers/LandingCtrl.js"></script>
        <script src="/scripts/controllers/CollectionCtrl.js"></script>
        <script src="/scripts/controllers/AlbumCtrl.js"></script>
        <script src="/scripts/controllers/PlayerBarCtrl.js"></script>
        <script src="/scripts/controllers/ProfileCtrl.js"></script>
        <script src="/scripts/controllers/SearchCtrl.js"></script>
        <script src="/scripts/directives/seekBar.js"></script>
        <script src="/scripts/filters/timecode.js"></script>
    </body>
</html>
