<div class="profile-page">
    <div class="profile-info">
        <img class="profile-picture" src="{{profile.user.photoURL}}" width="100" height="100">
        <p class="name">ID: {{profile.user.uid}}</p>
        <p class="email">Email: {{profile.user.email}}</p>
    </div>
    <div class="favorites">
        <h3 class="fav-title">Favorites</h3>
        <table class="favorite-songs">
            <tr class="favorite-song-item" ng-mouseover="hovered = true" ng-mouseleave="hovered = false" ng-repeat="song in profile.albumData.songs">
                <td class="song-item-number">
                    <span ng-show="!song.playing && !hovered">{{$index + 1}}</span>
                    <a class="album-song-button" ng-show="!song.playing && hovered" ng-click="profile.songPlayer.play(song)"><span class="ion-play"></span></a>
                    <a class="album-song-button" ng-show="song.playing" ng-click="profile.songPlayer.pause(song)"><span class="ion-pause"></span></a>
                </td>
                <td class="song-item-title">{{song.title}}</td>
                <td class="song-item-duration">{{song.duration | timecode}}</td>
            </tr>
        </table>
    </div>
</div>

<ng-include src="'/templates/player_bar.html'"></ng-include>
